@model IEnumerable<SBSClientServerManager.Models.ViewModels.ClientViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
        @*<script src="~/Scripts/bootstrap.min.js"></script>*@
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css"/>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


        <script type="text/javascript">

            $(document).ready(function () {

                $('#clientTable').DataTable({

                    "ajax": {
                       "url":'@Url.Action("GetClientList", "Client")',
                        "type": 'GET',
                        "datatype": "json"
                    },



                    "columns": [
                        { "data": "Name", "name": "Name", "autoWidth": true },



                         {
                            "data": "Details", "name":"Details" , "autoWidth": true ,
                            "render": function (data, type, customer, meta) {
                                return "<button onclick='goToDetails("+ customer.Id +")' class='btn btn-sm btn-info'>Details</button>";
                            }


                        },



                    ]


                });
            })






            function viewAddClient() {
                var url = '@Url.Action("add","client")';

                $("#AddClientModalBody").load(url, function () {


                })
            }

            function goToDetails(clientId) {

                
                var url = '@Url.Action("Details", "Client")/' + clientId;
                window.location.href = url;

            }


        </script>
    </head>




<h2>Client List</h2>
@if (!Model.Any())
{

    <h3>Oops, No Client Yet.</h3>
    <button type="button" class="btn btn-primary" onclick="viewAddClient()" data-toggle="modal" data-target="#AddClientModal">
        Add New Client
    </button>
    <div class="modal fade" id="AddClientModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">New Client</h3>

                </div>
                <div class="modal-body" id="AddClientModalBody">

                </div>

              
            </div>
        </div>
    </div>

}
else
{
    <!--Add Client Modal-->
    <div class="modal fade" id="AddClientModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">New Client</h3>

                </div>
                <div class="modal-body" id="AddClientModalBody">

                </div>

            </div>
        </div>
    </div>

  

    <button type="button" onclick="viewAddClient()" class="btn btn-primary" data-toggle="modal" data-target="#AddClientModal">
        Add New Client
    </button>

    <table id="clientTable" class="table">
        <thead>

            <tr class="btn-primary">
                
                <th>Client Name</th> 
                <th>Details</th>
                
            </tr>
            </thead>
        <tbody class="clientTableBody" >
            @*@{ int num = 1;}
            @foreach (var client in Model)
            {
                <tr>
                    <th>@num</th>
                    <td><a href="/Client/Details?Id=@client.Id">@client.Name</a> </td>
                    <td>
                        <div>
                            <button onclick="window.location.href='/client/details?Id=@client.Id'" class="btn btn-info">Details</button>
                           
                            </div>

                    </td>
                </tr>
                num++;
            }*@
        </tbody>
    </table>

}

